@using WebApplication1.Models.Domain;
@model User;
@{
    ViewData["Title"] = "Смена пароля";
}

<div class="bs-blog-wrapper">
    <h1>Смена пароля</h1>
    <form asp-controller="Account" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" name="id">
        <input type="hidden" class="form-control" id="Password" asp-for="Password" name="password">
        <div class="mb-3">
            <label for="OldPassword" class="form-label">Введите старый пароль</label>
            <input type="password" class="form-control" id="OldPassword" name="OldPassword" placeholder="Старый пароль">
        </div>
        <div class="mb-3">
            <label for="NewPassword" class="form-label">Введите новый пароль</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Новый пароль">
        </div>
        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">Подтвердите новый пароль</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Новый пароль">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Сохранить пароль</button>
        </div>
    </form>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p style="color:red;">@ViewBag.ErrorMessage</p>
    }
</div>
<div id="successModal" class="modal">
    <div class="modal-body">
        <p>Пароль успешно изменён</p>
        <a asp-controller="Post" asp-action="Index" class="btn btn-primary">OK</a>
    </div>
</div>
@section Scripts {
    <script>
        @if (ViewBag.IsPasswordChanged == true)
        {
            <text>
                    
                $(document).ready(function () {
                    $("#successModal").modal({
                        escapeClose: false,
                        clickClose: false,
                        showClose: false
                    });
                });
            </text>
        }
    </script>
}
